mixin themeVid(img, text, id)
    .settings-theme
        input(type="radio" name="theme" id=id class="input-hidden" value=id)
        label(for=id)
            .theme-img(style=`background-image: url(images/${id}.jpg)`)
        span= text

#settings-wrapper(hidden)
    #settings-topbar
        .flex
        .settings-close
            #btn-close-settings.btn
                i.ion-ios-close-empty
    form#settings-form
        .settings.settings-general
            .setting
                span Dark mode
                if darkmode
                    input#pref-darkmode(type="checkbox" name="darkmode" checked)
                else
                    input#pref-darkmode(type="checkbox" name="darkmode")
            .setting
                span Font family
                select(name="fontfamily")
                    -
                        const fonts = ['FiraSans', 'BadScript', 'AmaticSC',
                                     'Handlee', 'IndieFlower', 'OpenSans',
                                     'PlayfairDisplay', 'PTSans', 'RobotoLight',
                                     'RobotRegular', 'RobotoThin'].sort()
                    each val in fonts
                        option(value=`${val}`)= val
            .setting
                span Font size
                input#setting-font-size(type="range" min="8" max="46" step="2" value=`${fontsize}` name="fontsize")
                small.small#setting-font-size-text Default
        .settings.settings-theme
            .setting
                span Theme
                .setting
                    span Use video
                    input(type="checkbox" name="usevideo")
                .settings-theme-wrapper
                    +themeVid("", "Default", "default")
                    +themeVid("", "Winter", "winter")
                    +themeVid("", "Aurora", "aurora")
                    +themeVid("", "Evening", "evening")
                    +themeVid("", "Kaleidoscope", "kaleidoscope")
                    +themeVid("", "Lake", "lake")
                    +themeVid("", "Rainstorm", "rainstorm")
                    +themeVid("", "Sea", "sea")
                    +themeVid("", "Space", "space")
                    +themeVid("", "Waves", "waves")
                    +themeVid("", "Wind Energy", "windenergy")
