mixin themeVid(img, text, id)
    .settings-theme
        input(type="radio" name="theme" id=id class="input-hidden" value=id)
        label(for=id)
            img(src=img)
        span= text

#settings-wrapper(hidden)
    #settings-topbar
        .flex
        .settings-close
            #btn-close-settings.btn
                i.ion-ios-close-empty
    form#settings-form
        .settings.settings-general
            .setting
                span Dark mode
                input#pref-darkmode(type="checkbox" name="darkmode")
            .setting
                span Font family
            .setting
                span Font size
                input(type="range" min="8" max="46" step="2" name="fontsize")
        .settings.settings-theme
            .setting
                span Theme
                .settings-theme-wrapper
                    +themeVid("", "Default", "default")
                    +themeVid("", "Winter", "winter")
                    +themeVid("", "Aurora", "aurora")
                    +themeVid("", "Evening", "evening")
                    +themeVid("", "Kaleidoscope", "kaleidoscope")
                    +themeVid("", "Lake", "lake")
                    +themeVid("", "Rainstorm", "rainstorm")
                    +themeVid("", "Sea", "sea")
                    +themeVid("", "Space", "space")
                    +themeVid("", "Waves", "waves")
                    +themeVid("", "Wind Energy", "windenergy")
